@font-face {
    font-family: 'CarnevaleeFreakshow';
    src: url('../assets/fonts/Carnevalee_Freakshow.ttf') format('truetype');
}

#canvas {
  width: 100vw;
  height: 100vh;
}

#first-text {
  position: absolute;
  bottom: 60vh;
  left: 40%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.4rem;
}

#second-text {
  position: absolute;
  bottom: 55vh;
  left: 42%;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7rem;
}

#faut-cliquer {
  position: absolute;
  font-size: 1.5rem;
  bottom: 48vh;
  left: 46%;
  background-color: dimgray;
  border-color: gray;
  width: 8vw;
  height: 8vh;
  text-decoration: none;
  font-weight: bold;
  color: goldenrod;
}

#stop {
  position: absolute;
  bottom: 2vh;
  left: 95%;
  background-color: gray;
  width: 3%;
  height: 2.5vh;
  text-align: center;
  border-color: dimgray;
}

#you-won {
  position: absolute;
  bottom: 40vh;
  left: 36%;
  color: green;
  font-family: 'CarnevaleeFreakshow';
  font-size: 8rem;
}

@media screen and (max-width: 900px){

  #first-text {
    left: 8%;
    font-size: 2rem;
  }

  #second-text {
    left: 15%;
    font-size: 1.5rem;
  }

  #faut-cliquer {
    width: 20vw;
    height: 5vh;
    font-size: 1.2rem;
  }

  #you-won {
    text-align: center;
    left: 0%;
  }

  #stop {
    width: 12%;
    left: 83%;
  }
}
