<canvas id="canvas"></canvas>
<h2 id="first-text" *ngIf="!clicked">Test pour tester la police</h2>
<!-- <div class="row"> -->
<button id="faut-cliquer" (mouseover)="changePosition(112)" (click)="launch()" *ngIf="!clicked">10M €</button>
<!-- <button id="moyen" (mouseover)="changePosition(102)" (click)="launch()" *ngIf="!clicked">1 000</button>
<button id="beaucoup" (mouseover)="changePosition(92)" (click)="launch()" *ngIf="!clicked">1 000 000</button> -->
<!-- </div> -->
<h1 id="you-won" *ngIf="clicked">YOU WON</h1>
<button id="stop" (click)="stop()" *ngIf="clicked">Stop</button>

<!-- Combien ? (dfficulté) => alors comme ça tu veux gagner de l'argent ? essaie un peu pour voir -->
<!-- BGImg et txt aleatoire -->
